<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 <suite name ="AdidasEcomm">
    <test name ="Adidas ecomm Application Test">
    <parameter name="browser" value="Chrome" />
    <classes>
 	   <class name="com.AdidasEcom.Testcase.LoginTest" />
 	   <class name="com.AdidasEcom.Testcase.HomePageTest" />
 	   <class name="com.AdidasEcom.Testcase.menMenuTest" />
    </classes>
    </test>
</suite>
